@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

body{
    font-family: 'Roboto Condensed', sans-serif;
    color:white;
    background-image: url('../img/armada-back.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.navbar .nav-item a{
    color:rgb(160, 160, 160);
    border-bottom: 3px solid transparent;
    font-size: 20px;
}

.navbar-toggler{
    border-color: white;
}

.navbar-toggler-icon-bars{
    color: white;
}

button.navbar-toggler:focus{
     outline: 1px none; 
}

.navbar .nav-item a:hover{
    color:white;
    border-bottom: 3px solid #cc99cc;
}

.navbar li.active a{
    color:white;
    border-bottom: 3px solid #cc99cc;
}

.navbar{
    height: 100px;
    /*border: 1px solid white;*/
}

.navbar-nav{
  height: 60px;
}

.profile-top{
    border: 0px solid white;
    padding-top:16px; 
    padding-bottom:16px;
    
}

.profile{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 20px
}

.social-full{
    min-width: 318px;
}

.presence{
    height: 64px;
    width: 64px;
    position: relative;
}

.text-armada{
    color:#ffffff;
}

.dot {
    height: 14px;
    width: 14px;
    border-radius: 100%;
    border: 2px solid black;
    background: greenyellow;
    position: absolute;
    right: 0;
    bottom: 0;
}

.footer-armada {
    position:fixed;
    left:0;
    bottom:0;
    margin:0;
    width:50px;
    height:50px;
    background:url('../img/armada-cuy-mini.png') no-repeat bottom right;
    background-size:100%;
    z-index: 100;
}

.footer-message{
    position: fixed;
    left: 25px;
    bottom: 60px;
    margin: 0;
    min-height: 100px;
    max-height: 400px;
    width: 335px;
    background: #ffffff35;
    z-index: 200;
    border-radius: 3px;
    padding: 15px;
    font-size: 20px;
    animation: slide-up 0.8s ease;
}
.footer-message:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 10%;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-top-color: #ffffff35;
	border-bottom: 0;
	border-left: 0;
	margin-left: -5px;
	margin-bottom: -10px;
}

.shade-container{
    background: #ffffff21;
}

.blur{
    position: fixed;
    height: 100vh;
    width: 340px;
    top: 0;
    right: 0;
    z-index: -1;
    -webkit-filter: blur(2px);
    filter: blur(2px);
}

.profile-icons-text{
    font-size: 14px;
}

.dropdown-toggle::after {
    display: none;
}
.dropdown-toggle{
    cursor: pointer;
}


.search-friends{
    background-color: black;
    border-color: transparent;
    border-radius: 20px;
}

.search-friends:focus{
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: black;
    border-color: transparent;
    color: white;
}

.presence-friends{
    height: 45px;
    width: 45px;
    position: relative;
}

.dot-friends {
    height: 12px;
    width: 12px;
    border-radius: 100%;
    border: 2px solid black;
    background: greenyellow;
    position: absolute;
    right: 0;
    bottom: 0;
} 
.dot-off {
    background: gray;
} 

.friends-list{
    max-height: 662px;
    overflow: auto;
}

.friends-list::-webkit-scrollbar, .footer-message::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  .friends-list::-webkit-scrollbar-track, .footer-message::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  .friends-list::-webkit-scrollbar-thumb, .footer-message::-webkit-scrollbar-thumb{
    background: #888; 
  }
  
  /* Handle on hover */
  .friends-list::-webkit-scrollbar-thumb:hover, .footer-message::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.fullscreen{
    height:100vh;
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
}

.player:hover{
    background: #ffffff21;
    cursor: pointer;
}

.player{
    padding: 15px 10px 15px 10px;
}