@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
body{
    font-family: 'Roboto Condensed', sans-serif;
    color:white;
    background-image: url('../img/armada-back.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.navbar .nav-item a{
    color:rgb(160, 160, 160);
    border-bottom: 3px solid transparent;
    font-size: 20px;
}

.navbar-toggler{
    border-color: white;
}

.navbar-toggler-icon-bars{
    color: white;
}

button.navbar-toggler:focus{
     outline: 1px none; 
}

.navbar .nav-item a:hover{
    color:white;
    border-bottom: 3px solid #cc99cc;
}

.navbar li.active a{
    color:white;
    border-bottom: 3px solid #cc99cc;
}

.navbar{
    height: 100px;
    /*border: 1px solid white;*/
}

.navbar-nav{
  height: 60px;
}

.profile-top{
    border: 0px solid white;
    padding-top:16px; 
    padding-bottom:16px;
    
}

.profile{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 20px
}

.social-full{
    min-width: 318px;
}

.presence{
    height: 64px;
    width: 64px;
    position: relative;
}

.text-armada{
    color:#ffffff;
}

.dot {
    height: 14px;
    width: 14px;
    border-radius: 100%;
    border: 2px solid black;
    background: greenyellow;
    position: absolute;
    right: 0;
    bottom: 0;
}

.footer-armada {
    position:fixed;
    left:0;
    bottom:0;
    margin:0;
    width:50px;
    height:50px;
    background:url('../img/armada-cuy-mini.png') no-repeat bottom right;
    background-size:100%;
}

.shade-container{
    background: #ffffff21;
}
.profile-icons-text{
    font-size: 14px;
}

.dropdown-toggle::after {
    display: none;
}
.dropdown-toggle{
    cursor: pointer;
}


.search-friends{
    background-color: black;
    border-color: transparent;
    border-radius: 20px;
}

.search-friends:focus{
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: black;
    border-color: transparent;
    color: white;
}

.presence-friends{
    height: 45px;
    width: 45px;
    position: relative;
}

.dot-friends {
    height: 12px;
    width: 12px;
    border-radius: 100%;
    border: 2px solid black;
    background: greenyellow;
    position: absolute;
    right: 0;
    bottom: 0;
} 
.dot-off {
    background: gray;
} 

.friends-list{
    max-height: 662px;
    overflow: auto;
}

.friends-list::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  .friends-list::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  .friends-list::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  .friends-list::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.fullscreen{
    height:100vh;
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
}