@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
body{
    font-family: 'Roboto Condensed', sans-serif;
    color:white;
    background-image: url('/img/armada-back.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.navbar .nav-item a{
    color:rgb(160, 160, 160);
    border-bottom: 3px solid transparent;
}

.navbar .nav-item a:hover{
    color:white;
    border-bottom: 3px solid #cc99cc;
}

.navbar li.active a{
    color:white;
    border-bottom: 3px solid #cc99cc;
}

.navbar{
    height: 100px;
    /*border: 1px solid white;*/
}

.navbar-nav{
  height: 60px;
}

.profile-top{
    border: 0px solid white;
    padding-top:16px; 
    padding-bottom:16px;
    
}

.profile{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 20px
}


.presence{
    height: 64px;
    width: 64px;
    position: relative;
}

.text-armada{
    color:#cc99cc;
}

.dot {
    height: 14px;
    width: 14px;
    border-radius: 100%;
    border: 2px solid black;
    background: greenyellow;
    position: absolute;
    right: 0;
    bottom: 0;
}

.footer-armada {
    position:fixed;
    left:0;
    bottom:0;
    margin:0;
    width:50px;
    height:50px;
    background:url('/img/armada-cuy-mini.png') no-repeat bottom right;
    background-size:100%;
}

.shade-container{
    background: #ffffff21;
}
.profile-icons-text{
    font-size: 14px;
}

    

